@font-face {
    font-family: "Retro computer";
    src: url("../CSS/retro_computer_personal_use.ttf");
}

h1 {
    margin-left: 20vw;
    font-size:100pt;
    font-family: 'IM Fell English SC', serif;
    color:white;
    text-shadow: 5px 5px black;
}

body {
    font-family: "Retro computer", serif;
    overflow: hidden;
    letter-spacing: 1px;
}

.dashed_border {
    border: 4px dashed white;
}

.green_yellow {
    color: greenyellow;
}

.bg_black_rgba {
    background-color: rgba(0, 0, 0, 0.8);
}

/* -------- MAIN MENU -------- */

.main_menu {
    position: absolute;
    left:0;
    top:0;
    height: 100vh;
    width: 30vw;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.main_menu ul {
    list-style-type: none;
    width:70%;
}

.main_menu ul li {
    margin: 40px 0 40px 0;
    cursor: pointer;
    height:100px;
}

.main_menu ul li a {
    text-decoration: none;
    height:100%;
    width: 100%;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:16pt;
}

.main_menu ul li:nth-child(2) a {
    animation: colorblink 0.5s infinite;
    font-size: 20pt;
}

.main_menu ul li:hover {
    background-color: white;
}

.main_menu ul li:hover a {
    color: black;
}

/* -------- RULES PAGE -------- */

.rules_container {
    height:100vh;
    width:100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: justify;
    background-image: url(../IMG/rules_bg.jpg);
    background-size: cover;
}

.rules_container .rules {
    padding: 40px;
    margin-left:20vw;
    width:60%;
}

.rules_container .rules span {
    color:white;
    font-size:15pt;
}

/* -------- FIGHT PAGE -------- */

.fight_container {
    height:100vh;
    width:100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: justify;
    background-image: url(../IMG/figth_bg.jpg);
    background-size: cover;
}

.fight_container .fight {
    display:flex;
    margin-left: 20vw;
}

.fight_container .description {
    width:40vw;
    height:40vh;
    margin:auto 20px auto 20px;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction: column;
}

.fight_container .description strong {
    color:white;
}

.fight_container .card {
    width:12vw;
}

.fight_container .card button {
    width: 100%;
    font-size:8pt;
}

.fight_container .progress {
    height:30px;
    width:100%;
    margin:10px 0 10px 0;
}

.fight_container .progress-bar {
    width:100%;
}

/* -------- HOME PAGE -------- */

.home_container {
    height:100vh;
    width:100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(../IMG/home_bg.jpg);
    background-size: cover;
    color:white;
}

.home_container .home_title {
    margin:70px auto auto auto;
}

.home_container p {
    padding: 10px;
}

/* -------- HOME MENU -------- */

.home_container .home_menu {
    width: 30vw;
    padding:30px;
    margin-bottom: 40px;
    text-align:center;
}

.home_container .home_menu ul {
    list-style-type: none;
    margin-left: -40px;
}

.home_container .home_menu ul li {
    margin: 10px 0 10px 0;
    background-color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    height:100px;
}

.home_container .home_menu ul li a {
    text-decoration: none;
    font-size:16pt;
    height:100%;
    width: 100%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.home_container .home_menu ul li:nth-child(2) a {
    animation: colorblink 0.5s infinite;
    font-size: 20pt;
}

@keyframes colorblink { 
  0% { }
  50% { color:red; } 
}

.home_container .home_menu ul li:hover {
    background-color: white;
}

.home_container .home_menu ul li:hover a {
    color: black;
}

/* -------- RANKING PAGE -------- */

.ranking_container {
    height:100vh;
    width:100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: justify;
    background-image: url(../IMG/ranking_bg.jpg);
    background-size: cover;
    text-align:center;
}

.ranking_container .ranking {
    margin-left:20vw;
    text-align:center;
    font-size:15pt;
}

table th, table td {
    border:1px dashed white;
    padding:20px;
}

table tr:first-child {
    color:white;
}

/* -------- WINNER PAGE -------- */

.win_container {
    height:100vh;
    width:100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: justify;
    background-image: url(../IMG/winner_bg.jpg);
    background-size: cover;
}

.h1win{
    text-align:center;
    z-index:20;
}

.overlay{
    background-color: rgba(0, 0, 0, 0.3);
    height:100vh;
    width:100vw;
    position:absolute;
    left:0;
    top:0;
    z-index:0;
}

/* -------- FIGHT FORM -------- */

.fight_container form {
    padding:30px;
    margin-top:30px;
    margin-left:20vw;
}

.fight_container form input {
    margin-left: 32px;
}