p{
    font-size: 25px;
    background-color: ghostwhite;
    opacity: 0.80;
}
h2 {
    margin: auto;
    font-size:100pt;
    font-family: 'IM Fell English SC', serif;
    color:rgb(190, 7, 7);
    text-shadow: 5px 5px white;
    text-align: center;
}
body{
    background: none;
    
}
h4{
    text-align: center;
    color: white;
}
article{
    background-image: url("img/soldes.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: -3px;
    height: 600px;
}
html{
    
    background-color: black;
}
.btn btn-primary my-1{
    display: inline;
}