<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../CSS/style.css">
    <link href="https://fonts.googleapis.com/css?family=IM+Fell+English+SC&display=swap" rel="stylesheet">

    <title>Fight</title>
  </head>

  <body>
    <div class="fight_container">

      <h1>Fight</h1>

      <header>
        <nav class="main_menu">
          <ul>
            <li class="dashed_border bg_black_rgba">
              <a href="/" class="green_yellow">HOME</a>
            </li>
            <li class="dashed_border bg_black_rgba">
              <a href="/ranking" class="green_yellow">RANKING</a>
            </li>
            <li class="dashed_border bg_black_rgba">
              <a href="/rules" class="green_yellow">RULES</a>
            </li>
          </ul>
        </nav>
      </header>

      <section class="fight">
        <div class="card">
          <img src="../IMG/sherlock.jpg" class="card-img-top" alt="Sherlock Holmes">
          <div class="card-body">
              <button type="button" class="btn btn-success">Player 1</button>
              <div class="progress">
                <div class="progress-bar" role="progressbar"><span><strong th:text="${lifeP1}">100</strong> / 100</span></div>
              </div>
          </div>
        </div>

        <div class="description green_yellow dashed_border bg_black_rgba">
            <p th:text="${message}">Let the battle begin</p>
          <p><strong th:text="${currentPlayer}">player 1</strong> is playing now</p>
        </div>

        <div class="card">
          <img src="../IMG/moriarty_profil.jpg" class="card-img-top" alt="Professeur Moriarty">
          <div class="card-body">
              <button type="button" class="btn btn-danger">Grand Mère</button>
              <div class="progress">
                <div class="progress-bar" role="progressbar"><span><strong th:text="${lifeP2}">100</strong> / 100</span></div>
              </div>
          </div>
        </div>
      </section>

      <form action="/game" method="POST" class="dashed_border green_yellow bg_black_rgba">
        <input type="radio" id="uppercut" name="attack" value="uppercut">
        <label for="uppercut">Uppercut</label>  
        <input type="radio" id="punch" name="attack" value="punch">
        <label for="punch">Punch</label>
        <input type="submit" value="Attack !">
      </form>

    </div>

  </body>
</html>