<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/game.css">
    <link href="https://fonts.googleapis.com/css?family=IM+Fell+English+SC&display=swap" rel="stylesheet">

    <title>Fight</title>
  </head>

  <body>
    <div class="fight_container">

      <h1>SALES WAR</h1>

      <header>
        <nav class="main_menu">
          <ul>
            <li class="dashed_border bg_black_rgba">
              <a href="/" class="green_yellow">HOME</a>
            </li>
            <li class="dashed_border bg_black_rgba">
              <a href="/ranking" class="green_yellow">ACTIONS</a>
            </li>
            <!--<li class="dashed_border bg_black_rgba">
              <a href="/rules" class="green_yellow">RULES</a>
            </li>-->
          </ul>
        </nav>
      </header>

      <main class="fight p-3">
        <form id="attackForm" class="card-group" action="/game" method="POST">
          <section class="card">
            <img src="../static/img/girl1.jpg" class="card-img-top" alt="girl 1">
            <div class="card-body p-3">
                <p class="card-title text-center">Player 1</p>
                <div class="progress mb-3">
                  <div class="progress-bar" role="progressbar" th:text="|${lifeP1}%|" th:style="|width: ${lifeP1}%;|" style="width: 50%;" th:aria-valuenow="${lifeP1}" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" id="uppercut1" name="attack1" value="uppercut">
                  <label for="uppercut1">handbag</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" id="punch1" name="attack1" value="punch">
                  <label for="punch1">highheels</label>
                </div>
            </div>
          </section>
          <section class="card">
            <img src="../static/img/girl2.jpg" class="card-img-top" alt="girl 2">
            <div class="card-body p-3">
                <p class="card-title text-center mb-3">Player 2</p>
                <div class="progress mb-3">
                  <div class="progress-bar" role="progressbar" th:text="|${lifeP1}%|" th:style="|width: ${lifeP1}%;|" style="width: 50%;" th:aria-valuenow="${lifeP1}" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" id="uppercut2" name="attack2" value="uppercut">
                  <label for="uppercut2">handbag</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" id="punch2" name="attack2" value="punch">
                  <label for="punch2">highheels</label>
                </div>
            </div>
          </section>
        </form>
        <button form="attackForm" class="attack-btn btn btn-primary mt-3" type="submit">Attack !</button>

        <div class="description green_yellow bg_black_rgba">
            <p th:text="${message}">Let the battle begin</p>
          <p><strong th:text="${currentPlayer}">player 1</strong> is playing now</p>
        </div>

        <aside class="card-group">
          <section class="card">
            <img src="../static/img/mamiefight.jpg" class="card-img-top" alt="grandma">
            <div class="card-body">
                <p class="card-title text-center">Grand Mère</p>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" th:text="|${lifeP1}%|" th:style="|width: ${lifeP1}%;|" style="width: 50%;" th:aria-valuenow="${lifeP1}" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
                </div>
            </div>
          </section>
        </aside>
      </main>

    </div>

  </body>
</html>