<!doctype html>
<html lang="en">
    <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            
    <!-- test fenetre modal -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/index.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=IM+Fell+English+SC&display=swap" rel="stylesheet">

    <!--Police google Nunito-->
    <style>
        @import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
    </style> 
            
            
    <title>Sales war</title>
  </head>

<body>    

    <h2>SALES WAR</h2>
    <article class="bandhead">
        <div class="container d-flex h-100 align-items-center">
            <div class="mx-auto text-center">

                
                <br>
                <p>Vous êtes avec votre amie en train de faire les soldes. Vous entrez dans un magasin et là, vous apercevez la robe de votre vie. Mais soudain, une vielle mamie s'empare de votre robe fétiche.<br> <br>
                Vous décidez donc, avec votre amie, de lui reprendre des mains mais cette satanée vioque vous donne du fil à retordre et vous voilà donc contraints de vous battre contre elle...<br></p>

           
             <!-- Input-->
                <form action="/game" method="POST">
                    <label class="sr-only" for="inlineFormInputGroupUsername2">player 1 </label>
                    <input name="nickname1" id="nickname1" placeholder="Player 1">
                    <label class="sr-only" for="inlineFormInputGroupUsername2">player 2 </label>
                    <input name="nickname2" id="nickname2" placeholder="Player 2">
       
                    <!--button-->
                    <button class="btn btn-primary my-1">Play</button>
                </form>
            </div> 
        </div>
    </article>
    <h4>Que les meilleures gagnent!!!</h4>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Rules
      </button>
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Règles du jeu</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Objectif : Récuperer la robe, pour cela il vous faudra mettre la mamie hors jeux.<br> Vous aurez droit a deux coups : <br> - Coup de sac à main qui a un taux de réussite à 100%  <br> - Coup de talon aiguille qui fait beaucoup de dégâts avec environ 50% de réussite. <br> Vous commencez avec 100 points de vie et la mamie 200. </p>
            </div>
          </div>
        </div>
      </div>
    <form action="/scores" method="post"><button class="btn btn-primary my-1">Scores</button></form>

        

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>