<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../win.css">
    <link href="https://fonts.googleapis.com/css?family=IM+Fell+English+SC&display=swap" rel="stylesheet">

    <title>Fight</title>
  </head>

  <body>
       
      <script>
                  function playSound(){
            var audio = new Audio('arena.mp3');
            audio.play();
          
}

            </script>
       <input type="button" onclick="playSound()">
    <div class="fight_container">

      <h1>SALES WAR</h1>

      <p>YOU WIN <p th:text = ${currentPlayer}></p>GG</p>
      <div><img src="../img/nico3.jpg" class="rounder mx-auto d-block rotate"></div>
      <div><img src="../img/nico3.jpg" class="rounder mx-auto d-block bott"></div>
      <div><img src="../img/nico3.jpg" class="rounder float-right right"></div>
      <div><img src="../img/nico3.jpg" class="rounder float-right upp"></div>
    
      

    </div>

  </body>
</html>